*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent{
    height: 100vh;
}
.header{
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header>img{
    width: 12vw;
}
.menu>a{
    text-decoration: none;
    font-size: 25px;
    color:black;
}
.menu>a:hover{
    color: orange;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0px;
   
}
.common{
    border: 2px solid gray;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
}
.common>img{
    width: 20vw;
}

.footer{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 20px;
}