ol,ul{
    background-color: orange;
    width: 15%;
    display: inline-block;
    margin: 20px;
    border: 2px solid red;
    border-radius: 30px;
}
li{
    background-color: red;
    color: white;
    padding: 10px;
    margin: 10px;
    border: 2px solid green;
    border-radius: 30px;
}
li:first-child{
    background-color: orchid;
}
li:hover{
    background-color: cyan;
}